@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Raleway:wght@100&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
}

body {
  background-color: #161426;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}